// @media (max-width: 1439px) {

//     .sidepanel {
//         display: none;
//     }
// }

@media (max-width: 1300px) {

    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .sidepanel {
        display: none;
    }

    .myself {

        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 25px;
        }

        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
            gap: 20px 20px;

            &_item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }

    .resume {
        &__wrapper {
            column-gap: 60px;
            padding: 60px 10px 0 10px;
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
        }

        &__procent {
            margin: 120px;
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .title {
        &_fs-36 {
            font-size: 30px;
        }
    }

    .myself {
        &__wrapper {
            grid-template-columns: 300px 380px;
            row-gap: 10px;
        }

        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(105px, auto);
            row-gap: 5px;

            &_item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }

            &_descr {
                font-size: 12px;
            }
        }

        &__descr {
            font-size: 13px;
        }
    }

    .resume {
        &__wrapper {
            grid-template-columns: repeat(1, 545px);
            row-gap: 50px;
        }

        &__item-body {
            font-size: 12px;
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }

        &__procent {
            padding-top: 60px;
            margin: 0 auto;
            grid-template-columns: 1fr 1fr;

            &_rectangle {
                width: 300px;
            }

            &-item {
                width: 300px;
            }
        }
    }

}




@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .title {
        &_fs-48 {
            font-size: 28px;
        }
    }

    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }

    .myself {
        margin-top: 40px;

        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }

        &__photo {
            grid-row: unset;
        }

        &__about-me {
            margin-top: 20px;
        }

        &__skills {
            grid-template-columns: repeat(2, 260px);

            &_item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }

    .skills {
        &__item {
            width: 260px;
            height: 260px;
        }

        &__procent {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .title {
        &_fs-48 {
            font-size: 26px;
        }

        &_fs-36 {
            font-size: 24px;
        }
    }

    .hamburger {
        right: 20px;
    }

    .menu {
        &__block {
            width: 250px;
        }

        &__list {
            padding-left: 55px;
        }
    }

    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;

        &__btns {
            margin-top: 30px;
        }
    }

    .myself {

        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }

        &__skills {
            grid-template-columns: 1fr;
        }
    }

    .resume {
        margin-top: 20px;

        &__wrapper {
            grid-template-columns: repeat(1, 300px);
            row-gap: 40px;
        }
    }

    .skills {
        margin-top: 20px;

        .title__section-subtitle {
            margin-top: 20px;
            line-height: 36px;
        }

        .divider {
            margin-top: 15px;
        }

        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__procent {
            grid-template-columns: 1fr;
            padding-top: 40px;
        }
    }
}
